{
        # Global options block. Entirely optional, https is on by default
        # Optional email key for lets encrypt
        # email youremail@domain.com
        # Optional staging lets encrypt for testing. Comment out for production.
        # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
        log stdout {
                output stdout
                format json {
                        time_format iso8601
                }
                level info
        }

}
http://localhost:3000 {
        reverse_proxy signal:8080
}